<h1>APPLICATION SETTINGS</h1>
<hr>
<div class="row">
	<section class="col-lg-6">
		<div class="box box-primary">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">                                        
                        <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                        <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->

                    <i class="fa fa-map-marker"></i>
                    <h3 class="box-title">
                       Tasks Divisions
                    </h3>
                </div>
                <div class="box-body no-padding">
                	<label for="">Time Division setup</label>
                	<select name="" id="">
                		<option value="">Daily</option>
                		<option value="">Weekly</option>
                	</select>
                     <table class="table table-striped">
                     	<tr>
                     		<th>Criteria</th>
                     		<th>Value</th>
                     	</tr>
                     	<tr>
                     		<td>Design</td>
                     		<td><input type="text" placeholder="value 1"></td>
                     	</tr>
                     	<tr>
                     		<td>Development</td>
                     		<td><input type="text" placeholder="value 1"></td>
                     	</tr>
                     	<tr>
                     		<td>R & R</td>
                     		<td><input type="text" placeholder="value 1"></td>
                     	</tr>
                     </table>
                </div><!-- /.box-body-->
                <div class="box-footer">
                    <button class="btn btn-info"><i class="fa fa-download"></i> Apply</button>
                    <button class="btn btn-warning"><i class="fa fa-bug"></i> Cancel</button>
                </div>
        </div>
	</section>
	<section class="col-lg-6 connectedSortable"> 
            <!-- Box (with bar chart) -->
            <div class="box box-danger" id="loading-example">
                <div class="box-header">
                    <!-- tools box -->
                    <i class="fa fa-cloud"></i>
                    <h3 class="box-title">Time Division per tasks per [day / week]</h3>
                    <highchart config="chartPie" class="span9" ></highchart>
                </div><!-- /.box-header -->
                
                
            </div><!-- /.box -->        
            
            
                                

    </section><!-- /.Left col -->


</div>